<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-info">
        <p>
          &copy; <span id="current-year">2023</span> Almog Shtaigmann. All
          rights reserved.
        </p>
        <p>
          View the source code on
          <a href="https://github.com/AlmogShKt/" target="_blank">GitHub</a>.
        </p>
      </div>

      <div class="footer-links">
        <ul class="social-links">
          <li>
            <a
              href="mailto:a.shtaigmann@gmail.com"
              aria-label="Email"
              class="footer-contact-link"
            >
              <i class="fas fa-envelope social-icon"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/almog-shtaigmann"
              target="_blank"
              aria-label="LinkedIn"
              class="footer-contact-link"
            >
              <i class="fab fa-linkedin social-icon"></i>
            </a>
          </li>
          <li>
            <a
              href="https://github.com/almogshkt"
              target="_blank"
              aria-label="GitHub"
              class="footer-contact-link"
            >
              <i class="fab fa-github social-icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="site-metrics">
      <img
        src="https://komarev.com/ghpvc/?username=almogshkt&color=blue"
        alt="Site-Views"
      />
    </div>
  </div>
</footer>

<script>
  // Update the current year
  document.getElementById("current-year").textContent =
    new Date().getFullYear();
</script>
